
.emailLink{
text-decoration: underline;
color: rgb(139, 138, 129);
}

@media only screen and (max-width: 3000px ) and (min-width:600px) {
    body{
        background-color: rgb(253, 244, 222);
    }
    
    .mainWrapper{
        width: 99%;
        height: 99%;
        top:0.5%;
        left:0.5%;
    }

    .navBar{
        position: absolute;
        width:8%;
        height:100%;
        top: 0%;
        left:10%;
        background-color: rgb(27, 201, 186);
    }

    img[src="images/page pic.jpg"]{
        max-width: 14%;
        width: 12%;
        height: 25%;
        left: 44.5%;
        top: 8vh;
        border-radius: 50%;
        position: absolute;
        border: solid rgb(27, 201, 186) 1px;
    }

    .navigationNav{
        width: 70%;
        height:30%;
        left: 14%;
        top:30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .home{
        color: rgb(197, 248, 12);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .resume{
        color: rgb(211, 253, 24);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .contact{
        color:rgb(211, 253, 24);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .linksWrapper{
        position: absolute;
        width: 25%;
        height: 7%;
        top: 5%;
        left: 70%;
    }

    .linksNav{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 98%;
        height: 96%;
        top: 2%;
        left: 1%;
      
    }


    .linkedin{
        width: 15%;
        height: 90%;
 
    }

    .github{
        width: 15%;
        height: 90%;
  
    }

    .twitter{
        width: 15%;
        height: 90%;
    }

    .hackerrank{
        width: 15%;
        height: 90%;
    }

    .hackerrank:hover{
        cursor: pointer;
    }

    .twitter:hover{
        cursor: pointer;
    }

    .github:hover{
        cursor: pointer;
    }

    .linkedin:hover{
        cursor: pointer;
    }

    img[src="images/LI-In-Bug.png"]{
        padding-top: 6%;
        max-width: 100%;
        max-height: 90%;
        
    }

    img[src="images/Twitter_Logo_WhiteOnImage.png"]{
        max-width: 100%;
        max-height: 90%;
        background-color: rgb(67, 168, 235);
    }

    img[src="images/GitHub-Mark-120px-plus.png"]{
        max-width: 100%;
        max-height: 90%;
    }

    img[src="images/HackerRank_logo.png"]{
        width: 130%;
        height: 130%;
        position: relative;
        top:-18%;
        left: -15%;
    }

    .contentWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 58%;
        top: 36%;
        left: 27%;
        font-family: Arial, Helvetica, sans-serif;
        color:rgb(139, 138, 129);
    }

    .contentHeader{
        position: absolute;
        width: 20%;
        height: 16%;
        top:2%;
        left: 38%;
        font-size: 130%;
        text-align: center;
        line-height: 2.5em;
        z-index: 1;
        text-align: center;
        line-height: 400%;
    }

    .content{
        background-attachment: fixed;
        position: absolute;
        width: 90%;
        height: 61%;
        top:23%;
        line-height: 100%;
        font-size: 0.8em;
        line-height: 300%;
        text-align: justify;
        text-justify: inter-word;
    }

   


    

/*

  

    .home:active{
        background-color: aquamarine;
        color: white;
    }

    .resume{
        width: 20%;
        height:40%;
        left:38%;
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 1%;
        position: absolute;
        text-align: center;
        text-decoration: none;
        color: rgb(122, 122, 122);
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .resume:active{
      background-color: aquamarine;
        color:white;        
    }

 
  
    .contact{
        width: 20%;
        height:40%;
        left: 71vw;
        top:0.5vh;
        padding-top: 4%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 1%;
        position: absolute;
        background-color: rgb(248, 242, 226);
        color: rgb(122, 122, 122);
        text-align: center;
        line-height: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contact:active{
        background-color: aquamarine;
        color:white;
    } */

}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(248, 242, 226);
    }
    
    .mainWrapper{
        width: 95%;
        height: 80%;
        background-color: rgb(24, 168, 187);
        position:relative;
        top:2%;
        left:2.5%;
    }

    .navBar{
        position: absolute;
        width:100%;
        height:8%;
        top: 82%;
        left: -4%;

    }

    .navigationNav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position:relative;
        width: 98%;
        height:80%;
        left:2%;
        top:300%;
        position: absolute;
    }

    .contentWrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 58%;
        top: 32%;
        left: 1%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        text-justify: inter-word;
    }

    .contentHeader{
        position: absolute;
        width: 35%;
        height: 10%;
        top:1%; 
        left: 31%; 
        font-size: 0.9em;
        text-align: center;
        line-height: 2.5em;
        color: whitesmoke;
    }

    .content{
        position: absolute;
        width: 97%;
        height: 60%;
        top: 18%;
        color: whitesmoke;
        font-size: 0.8em;
        line-height: 180%;
   
    }

    .linksWrapper{
        position: absolute;
        width: 90%;
        height: 7%;
        top: 91%;
        left: 5%;
    }

    .linksNav{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
        height: 5vh;
        top: 0.5vh;
        left: 3vw;
    }

    .linkedin{
        position: absolute;
        left: 11vw;
    }

    .github{
        position: absolute;
        left: 35vw;
    }

    .twitter{
        position: absolute;
        left: 57vw;
    }

    img[src="images/LI-In-Bug.png"]{
        max-width: 12vw;
        height: 4vh;
    }

    img[src="images/Twitter_Logo_WhiteOnImage.png"]{
        max-width: 13vw;
        height: 5vh;
        background-color: rgb(26, 187, 219);
    }

    img[src="images/GitHub-Mark-120px-plus.png"]{
        max-width: 10vw;
        height: 4vh;
    }

    img[src="images/page pic.jpg"]{
        max-width:35%;
        height: 18%;
        left: 31%;
        top: 8vh;
        border-radius: 50%;
        position: absolute;
        border: solid white 4px;
    }



    .home{
        width: 20%;
        height:40%;
        left: 5%;
        padding-top: 5%;
        padding-bottom: 4%;
        padding-left: 1%;
        padding-right: 1%;
        position: absolute;
        background-color:rgb(248, 242, 226);
        color: rgb(122, 122, 122);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .home:active{
        background-color: aquamarine;
        color: white;
    }

    .resume{
        width: 20%;
        height:40%;
        left:38%;
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 1%;
        position: absolute;
        text-align: center;
        text-decoration: none;
        color: rgb(122, 122, 122);
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .resume:active{
      background-color: aquamarine;
        color:white;        
    }

 
  
    .contact{
        width: 20%;
        height:40%;
        left: 71vw;
        top:0.5vh;
        padding-top: 4%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 1%;
        position: absolute;
        background-color: rgb(248, 242, 226);
        color: rgb(122, 122, 122);
        text-align: center;
        line-height: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contact:active{
        background-color: aquamarine;
        color:white;
    }

    
    

  }
  
  
